[submodule "mnist-camera/LCCV"]
	path = mnist-camera/mnist-camera/LCCV
	url = https://github.com/kbarni/LCCV.git
[submodule "handSign-camera/LCCV"]
	path = handSign-camera/LCCV
	url = https://github.com/kbarni/LCCV.git
